@import './realize/reset';
@import './realize/animation';
@import './realize/transition';
@import './realize/global';

.lin-container {
  .el-divider--horizontal {
    margin:0px;
  }
  .lin-title {
    height: 50px;
    line-height: 50px;
    color: $parent-title-color;
    font-size: 16px;
    font-weight: 500;
    text-indent: 40px;
    border-bottom: 1px solid #dae1ed;
  }

  .lin-wrap {
    padding: 20px;
  }

}

.el-cascader-menu {
  min-width: 110px !important;
  width: fit-content;
}

.el-message {
  min-width: 100px !important;
}