.container {
  //margin-bottom: 20px;

  .header {    
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #dae1ed;
    .header-left {
      float: left;

      .title {
        padding-left: 30px;
        height: 50px;
        line-height: 50px;
        color: $parent-title-color;
        font-size: 16px;
        font-weight: 500;

        .back {
          float: right;
          margin-right: 40px;
          cursor: pointer;
        }
      }
    }

    .header-right {
      padding-right: 30px;
      float: right;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  .wrap {
    padding: 20px;
  }

  .pagination {
    display: flex;
    justify-content: flex-end;
    margin: 20px;
  }

  .submit {
    float: left;
  }

  .thumb {
    background-size: contain;
    width: 100%;
    height: 32px;
    background-repeat: no-repeat;
  }
}